@import '_mixin.scss';
@import 'common.scss';
.wrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
    header {
        width: 100%;
        height: pxTorem(40px);
        padding: 0 pxTorem(10px);
        @include sizing;
        @include box_flex;
        @include justify;
        @include align;
        input {
            width: pxTorem(355px);
            height: pxTorem(30px);
            padding-left: pxTorem(10px);
            @include sizing;
            background: #f0f1f3;
        }
    }
    section {
        width: 100%;
        @include flex;
<<<<<<< HEAD
        background: orange;
        padding: 0 pxTorem(10px);
        @include sizing;
        .box {
            width: 100%;
            height: pxTorem(240px);
            background: red;
            p {
                width: 100%;
                height: pxTorem(44px);
                color: #f0f1f3;
                font-size: pxTorem(18px);
                margin-right: pxTorem(10px);
=======
        overflow-y: auto;
        padding: 0 pxTorem(10px);
        @include sizing;
        .list {
            width: 100%;
            height: pxTorem(200px);
            @include box_flex;
            @include justify(space-around);
            @include align;
            @include flexWrap(wrap);
            dl {
                width: 20%;
                height: pxTorem(70px);
                @include box_flex;
                @include direction(column);
                @include align;
                dt {
                    width: pxTorem(54px);
                    height: pxTorem(54px);
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                dd {
                    margin-top: pxTorem(5px);
                    font-size: pxTorem(14px);
                }
>>>>>>> 43106fba787c09d03be83db1462acc742732f976
            }
        }
    }
    footer {
        width: 100%;
        height: pxTorem(44px);
        background: #fafafa;
        @include box_flex;
        @include align;
        @include justify(space-around);
        dl {
            width: 100%;
            @include box_flex;
            @include align;
            @include justify;
            @include direction(column);
            dt {
                i {
                    font-size: pxTorem(16px);
                }
            }
        }
    }
}